body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
}

/* classes */

.background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
}

    .background__block {
        width: 33.33%;
        height: 100vh;
        background-size: cover;
    }

    .background__block--rock {
        background-image: url("../img/RockBg.jpg");
    }

    .background__block--paper {
        background-image: url("../img/PaperBg.jpg");
    }

    .background__block--scissors {
        background-image: url("../img/ScissorsBg.jpg");
    }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 27px 0px;
}

    .header__text { 
        width: 33.33%; 
        text-align: center;
        margin: 27px 0px 0px 0px;
        font-size: 86px;
        -webkit-text-stroke: 5px black;
    }

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #394E53;
    border: 3px solid black;
    box-sizing: border-box;
    box-shadow: inset 0px 12px 24px rgba(0,0,0,0.75);
    border-radius: 16px 0px;
}

    .box--direction--column {
        flex-direction: column;
    }

    .box--direction--row {
        flex-direction: row;
    }

    .box--background--hp {
        background-image: url("../img/HPBar.png");
        background-repeat: no-repeat;
        background-size: 384px 54px;
        background-position-x: 0px;
        background-position-y: center; /*when using JS, shift this position with -76.8px when a life gets taken*/
    }

    .box--size--big {
        width: 960px;
        height: 378px;
    }
    
    .box--size--medium {
        width: 288px;
        height: 648px;
    }

    .box--size--small {
        width: 384px;
        height: 54px;
    }

        .button {
            outline: none;
            margin: 0;
        }

            .button__box {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                border: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 48px 48px, cover;
            }

            .button--hover {
                box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.75);
            }

            .button--active {
                filter:blur(2px);
                box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.75);
            }

            .button--rock {
                background-image: url("../img/HandRock.png"),url("../img/RockBg.jpg");
            }

            .button--paper{
                background-image: url("../img/HandPaper.png"),url("../img/PaperBg.jpg");
            }

            .button--scissors {
                background-image: url("../img/HandScissor.png"),url("../img/ScissorsBg.jpg");
            }

            .button--standard {
                background-image: url(), url("../img/BackgroundRPS.png");
            }

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
        }
    

    .wrapper--size--big {
        width: 960px;
        height: 600px;
    }

    .wrapper--size--medium {
        width: 388px;
        height: 332px;
    }

    .wrapper--row {
        flex-direction: row;
    }

    .wrapper--column {
        flex-direction: column;
    }

    .text {
        color: #B34D4D;
        -webkit-text-stroke: 2px black;
        font-family: "Black Han Sans", arial, sans-serif;
    }

    .t1 {
        font-size: 86px;
    }
    
    .t2 {
        font-size: 32px;
    }
    
    .t3 { 
        font-size: 24px;
    }

    .o1 {
        -webkit-text-stroke: 5px black;
    }

    .o2 {
        -webkit-text-stroke: 3px black;
    }

    .o3 {
        -webkit-text-stroke: 2px black;
    }

    h2 {
        margin: 24px 0px;
    }

    h3 {
        margin: 24px 0px;
    }